<html lang="zh-Hans">
  <head>
    <!-- BeenThere icons and page title -->
    <title>BeenThere</title>
    <link rel="icon" size="104*86" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="style.css">
  <head>
  <body>
    <!-- BeenThere icons and logo -->
    <div class="ico`nLogo">
      <img src="images/icon.png" width="104" height="86">
      <img src="images/logo.png" width="146" height="33">
    </div>

    <!-- text prompts -->
    <div class="prompts">
      <h1>对我们说的话...</h1>
      <h2>有困扰求帮助<br>分享自己的心路<br>希望加入BeenThere家庭？<br>
          还是就想对着树洞吐个槽？<br>请在下方留言，完全匿名哦~</h2>
    </div>

    <form method="POST" action='/' accept-charset="UTF-8">
      <input type="message" placeholder="我要说的话" name="message", required>
      <input type="contact" placeholder="微信" name="contact">
      <input type="submit" name="action" value="提交">
    </form>
  </body>
</html>
